* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background: #fff;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg__header {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
      circle at 3% 25%,
      rgba(0, 42, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    ),
    url(./assets/wave.png);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
      circle at 3% 25%,
      rgba(0, 42, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    ),
    url(./assets/wave.png);

  /* opera 11.10+ */
  background: -o-radial-gradient(
      circle at 3% 25%,
      rgba(0, 42, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    ),
    url(./assets/wave.png);

  /* ie 10+ */
  background: -ms-radial-gradient(
      circle at 3% 25%,
      rgba(0, 42, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    ),
    url(./assets/wave.png);

  /* global 92%+ browsers support */
  background: radial-gradient(
      circle at 3% 25%,
      rgba(0, 42, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    ),
    url(./assets/wave.png);

  /* background-image: url(./assets/wave.png) ; */
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 42, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 42, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 42, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 42, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 42, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
  background-blend-mode: overlay;
}

.radial_bg_op {
  background: radial-gradient(
    86.08% 87.9% at 56.27% 103.16%,
    #0b045a 34.88%,
    rgba(11, 4, 90, 0.59) 100%
  );
}

.radial_bg {
  background: radial-gradient(
    86.08% 87.9% at 56.27% 103.16%,
    #0b045a 34.88%,
    rgba(11, 4, 90, 0.59) 100%
  );
}

@media (min-width: 1024px) {
  .radial_bg {
    background: radial-gradient(
      65.46% 65.58% at 65.46% 27.22%,
      #0b045a 54.88%,
      rgba(11, 4, 90, 0.59) 100%
    );
  }

  .radial_bg_op {
    background: radial-gradient(
    90.47% 99.78% at 17.47% 39.54%,
    #0b045a 34.88%,
    rgba(11, 4, 90, 0.59) 100%
  );
  }
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__bar {
  background: var(--gradient-bar);
}

.gradient__bar_blue {
  background: var(--gradient-bar-blue);
}

.footer__bg {
  background: var(--color-footer);
}
